<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script src="https://kit.fontawesome.com/1d40be1112.js" crossorigin="anonymous"></script>

<!-- Add contact button (see https://formspree.io/formbutton/docs) -->
<script>
    window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
    formbutton("create", {
        title: "Contact Me",
        description: null,
        buttonImg: "<i class='fas fa-comment-alt' style='font-size: 24px;'/>",
        action: "https://formspree.io/mvowjbgy",
        theme: "classic",
        onResponse: function(ok, setStatus) {
            if (ok) {
            setStatus("Thanks for your message! I'll respond to the email address you supplied soon.");
            } else {
            setStatus("<span style='color:{{ site.color.primary }}'>Oops! There was a problem. Please check that you've entered a valid email address.</span>");
            }
        },
        fields: [{
        name: "name",
        type: "text",
        label: "Your Name",
        required: true,
        },
        {
        name: "email",
        type: "email",
        label: "Your Email",
        required: true
        },
        {
        name: "Message",
        type: "textarea"
        },
        {
        type: "submit"
        }],
        styles: {
        fontFamily:'"Roboto Slab", "Helvetica Neue", "Helvetica", "Arial"',
        fontSize: "14px",
        color: "{{ site.color.primary }}",
        lineHeight: "1",
        background: "rgba(255, 255, 255, 0.4)",
        body: {
            background: "white"
        },
        button: {
            border: "2px solid white",
            borderRadius: "20px",
            background: "none",
            color: "white",
            boxShadow: "None",
            width: "50px",
            height: "50px"
        },
        title: {
            fontFamily: "Lobster Two",
            background: "white",
            color: "{{ site.color.primary }}",
            letterSpacing: "0.05em",
        },
        closeButton: {
            display: "None"
        }
        }
    });
</script>