<div id="resume" class="fade-0 particles">
	<div>
	<div class="mainDetails cv-section">
		{% include nav.html %}

		<div id="headshot" class="quickFade">
			<img src="{{ site.baseurl }}/img/cv_headshot.png" alt="{{ site.title }}" />
		</div>
		
		<div id="name">
			<h1 class="fade-1">{{ site.data.cv.name }}</h1>
			<h2 class="fade-2">{{ site.data.cv.role }}</h2>
			<a class="fade-3" href="/static/CV-Michael-Ashton.pdf" download><i class="fa fa-download"></i></a>
		</div>
		
		<div id="contactDetails" class="fade-4">
			<ul>
				<li><i class="fas fa-envelope"></i><a href="mailto:{{ site.email }}" target="_blank"> {{ site.email }}</a></li>
				<li><i class="fas fa-globe"></i><a href="/"> {{ site.url }}</a></li>
				<li><i class="fas fa-phone"></i> {{ site.phone }}</li>
				<li><i class="fas fa-home"></i> {{ site.address }}</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="fade-5">
		<section class="cv-section">
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
					<hr>
				</div>
				
				<div class="sectionContent">
					<p>{{ site.data.cv.personal-profile }}</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>

		<section class="cv-section">
			<div class="sectionTitle">
				<h1>Skills</h1>
				<hr>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					{% for skill in site.data.cv.skills %}
						<li>{{ skill }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="clear"></div>
		</section>		
		
		<section class="cv-section">
			<div class="sectionTitle">
				<h1>Education and Research</h1>
				<hr>
			</div>
			
			<div class="sectionContent">
				{% assign i=0 %}
				{% for position in site.data.cv.work-history %}
					{% if i != 0%}<hr>{% endif %}
					{% assign i = i | plus:1 %}
					<article>
						<h2>{{ position.title }}, {{ position.institute }}</h2>
						<p class="subDetails">{{ position.dates }}</p>
						{% for bullet in position.bullets %}
							<p>{% if bullet.title %}{{ bullet.title }}: {% endif %}{{ bullet.info }}</p>
						{% endfor %}
					</article>
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>
		
		<section class="cv-section">
			<div class="sectionTitle">
				<h1>Selected Publications</h1>
				<hr>
			</div>
			
			<div class="sectionContent">
				{% assign i=0 %}
				{% for paper in site.data.cv.publications %}
					{% if i != 0%}<hr>{% endif %}
					{% assign i = i | plus:1 %}
					<article>
						<h2><a href="{{ paper.link }}">{{ paper.title }}</a></h2>
						<p class="subDetails">{{ paper.journal }}, {{ paper.year }}</p>
						<p>{{ paper.authors | replace: "Ashton, M.", "<b>Ashton, M.</b>" }}</p>
					</article>
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>

		<section class="cv-section">
			<div class="sectionTitle">
				<h1>Awards and Other Work</h1>
				<hr>
			</div>
			
			<div class="sectionContent">
				{% assign i=0 %}
				{% for award in site.data.cv.awards %}
					{% if i != 0%}<hr>{% endif %}
					{% assign i = i | plus:1 %}
					<h2>{{ award.title }}</h2>
					{% for bullet in award.bullets %}
						<p>{{ bullet }}</p>
					{% endfor %}
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>

		<section class="cv-section">
			<div class="sectionTitle">
				<h1>References</h1>
				<hr>
			</div>
			
			<div class="sectionContent">
				{% assign i=0 %}
				{% for reference in site.data.cv.references %}
					{% if i != 0%}<hr>{% endif %}
					{% assign i = i | plus:1 %}
					<p>{{ reference.name }}, {{ reference.position }} | <a href="mailto:{{ reference.email }}"><i class="fas fa-envelope"></i></a></p>
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>
	</div>
	</div>
	</div>
</div>