<div id="nav" class="nav-row {% if page.url != '/' %}page-nav{% endif %}">
    {% assign i = 1 %}
    {% for nav-icon in site.nav-icons %}
        {% if nav-icon.url == "/" %}
            {% if page.url != "/" %}
                <div id="{{ nav-icon.name }}" data-typewrite="{{ nav-icon.typewrite }}" class="nav-icon fade-{{ i }} {{ nav-icon.icon }}"
                     {% if nav-icon.new_page %} onclick="window.open('{{ nav-icon.url }}');"
                     {% else %} onclick="location.href='{{ nav-icon.url }}';"
                     {% endif %}></div>
                {% assign i = i | plus:1 %}
            {% endif %}
        {% else %}
            <div id="{{ nav-icon.name }}" data-typewrite="{{ nav-icon.typewrite }}" class="nav-icon {% if ! {{ page.url }} contains '404' %} page-nav {% endif %} fade-{{ i }} {{ nav-icon.icon }}"
            {% if nav-icon.new_page %} onclick="window.open('{{ nav-icon.url }}');"
            {% else %} onclick="location.href='{{ nav-icon.url }}';"
            {% endif %}></div>
            {% assign i = i | plus:1 %}
        {% endif %}
    {% endfor %}
</div>