<!DOCTYPE html>
<html>
<head>
<title>{{ site.title }} - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of {{ site.title }}."/>
<meta charset="UTF-8"> 


<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/img/favicon.png">
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/cv-style.css">

<script src="https://kit.fontawesome.com/1d40be1112.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
{% include particles-cv.html %}

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade particles">
	<div>
	<div class="mainDetails cv-section">
		{% include nav.html %}

		<div id="headshot" class="quickFade">
			<img src="{{ site.baseurl }}/img/headshot.png" alt="{{ site.title }}" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">{{ site.data.cv.name }}</h1>
			<h2 class="quickFade delayThree">{{ site.data.cv.role }}</h2>
			<a class="quickFade delayFour" href="/static/CV-Michael-Ashton.pdf" download><i class="fa fa-download"></i></a>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><i class="fas fa-envelope"></i><a href="mailto:{{ site.email }}" target="_blank"> {{ site.email }}</a></li>
				<li><i class="fas fa-globe"></i><a href="/"> {{ site.url }}</a></li>
				<li><i class="fas fa-phone"></i> {{ site.phone }}</li>
				<li><i class="fas fa-home"></i> {{ site.address }}</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade">
		<section class="cv-section">
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
					<hr>
				</div>
				
				<div class="sectionContent">
					<p>{{ site.data.cv.personal-profile }}</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>

		<section class="cv-section">
			<div class="sectionTitle">
				<h1>Skills</h1>
				<hr>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					{% for skill in site.data.cv.skills %}
						<li>{{ skill }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="clear"></div>
		</section>		
		
		<section class="cv-section">
			<div class="sectionTitle">
				<h1>Education and Research</h1>
				<hr>
			</div>
			
			<div class="sectionContent">
				{% assign i=0 %}
				{% for position in site.data.cv.work-history %}
					{% if i != 0%}<hr>{% endif %}
					{% assign i = i | plus:1 %}
					<article>
						<h2>{{ position.title }}, {{ position.institute }}</h2>
						<p class="subDetails">{{ position.dates }}</p>
						{% for bullet in position.bullets %}
							<p>{% if bullet.title %}{{ bullet.title }}: {% endif %}{{ bullet.info }}</p>
						{% endfor %}
					</article>
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>
		
		<section class="cv-section">
			<div class="sectionTitle">
				<h1>Selected Publications</h1>
				<hr>
			</div>
			
			<div class="sectionContent">
				{% assign i=0 %}
				{% for paper in site.data.cv.publications %}
					{% if i != 0%}<hr>{% endif %}
					{% assign i = i | plus:1 %}
					<article>
						<h2><a href="{{ paper.link }}">{{ paper.title }}</a></h2>
						<p class="subDetails">{{ paper.journal }}, {{ paper.year }}</p>
						<p>{{ paper.authors | replace: "Ashton, M.", "<b>Ashton, M.</b>" }}</p>
					</article>
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>

		<section class="cv-section">
			<div class="sectionTitle">
				<h1>Awards and Other Work</h1>
				<hr>
			</div>
			
			<div class="sectionContent">
				{% assign i=0 %}
				{% for award in site.data.cv.awards %}
					{% if i != 0%}<hr>{% endif %}
					{% assign i = i | plus:1 %}
					<h2>{{ award.title }}</h2>
					{% for bullet in award.bullets %}
						<p>{{ bullet }}</p>
					{% endfor %}
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>

		<section class="cv-section">
			<div class="sectionTitle">
				<h1>References</h1>
				<hr>
			</div>
			
			<div class="sectionContent">
				{% assign i=0 %}
				{% for reference in site.data.cv.references %}
					{% if i != 0%}<hr>{% endif %}
					{% assign i = i | plus:1 %}
					<p>{{ reference.name }}, {{ reference.position }} | <a href="mailto:{{ reference.email }}"><i class="fas fa-envelope"></i></a></p>
				{% endfor %}
			</div>
			<div class="clear"></div>
		</section>
	</div>
	</div>
	</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>