<h1 class="typewrite">
    <a id="typewrite" href="" class="typewrite">
    <span class="wrap" id="wrap"></span>
    </a>
</h1>

<script>
    if (!window.matchMedia( "(hover: none)" ).matches) {
        $(".nav-icon").on({
            mouseenter: function () {
                var Typer = new TxtType($("#typewrite"), $("#wrap").html(), $(this).attr("data-typewrite"));
                Typer.type();
            },
            mouseleave: function () {
                var StartTxt = $("#wrap").html();
                var Typer = new TxtType($("#typewrite"), $("#wrap").html(), "");
                Typer.wipe();
            }
        });
    }

    var TxtType = function(el, startTxt, endTxt) {
        this.el = el;
        this.txt = startTxt;
        this.endTxt = endTxt;
    };

    TxtType.prototype.type = function() {
        if (this.txt.length < this.endTxt.length) {
            this.txt = this.endTxt.substring(0, this.txt.length + 1);
            this.el.html('<span class="wrap blinking-cursor" id="wrap">'+this.txt+'</span>');
        } else {
            return;
        };
        var that = this;
        setTimeout(function() {
            that.type();
        }, 50);
    };

    TxtType.prototype.wipe = function() {
        if (this.txt.length) {
            this.txt = this.txt.substring(0, this.txt.length - 1);
            this.el.html('<span class="wrap blinking-cursor" id="wrap">'+this.txt+'</span>');
        } else {
            this.el.html('<span class="wrap" id="wrap">'+this.txt+'</span>');
            return;
        };
        var that = this;
        setTimeout(function() {
            that.wipe();
        }, 20);        
    };
</script>