<script>

    function delay(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    if (!window.matchMedia( "(hover: none)" ).matches) {
        $(".typewrite-element").on({
            mouseenter: function () {
                console.log($(this).attr("data-typewrite"));
                new TxtType($("#typewrite"), $("#wrap").html(), $(this).attr("data-typewrite")).type();
            },
            mouseleave: function () {
                new TxtType($("#typewrite"), $("#wrap").html(), "").wipe();
            }
        });
    } else {
        $( document ).ready(function() {
            var t = 500;
            var nLoops = 0;
            while (nLoops < 5) {
                $('.typewrite-element').each(function(i, obj) {
                    delay(t).then(() => $(obj).addClass("active"));
                    delay(t+500).then(() => new TxtType($("#typewrite"), "", $(obj).attr("data-typewrite")).type());
                    delay(t+2500).then(() => new TxtType($("#typewrite"), $("#wrap").html(), "").wipe());
                    delay(t+2500).then(() => $(obj).removeClass("active"));
                    t += 2500;
                });
            nLoops += 1;
            };
        });
    }

    var TxtType = function(el, startTxt, endTxt) {
        this.el = el;
        this.txt = startTxt;
        this.endTxt = endTxt;
    };

    TxtType.prototype.type = function() {
        if (this.txt.length < this.endTxt.length) {
            console.log(this.txt);
            this.txt = this.endTxt.substring(0, this.txt.length + 1);
            this.el.html('<span class="wrap blinking-cursor" id="wrap">'+this.txt+'</span>');
        } else {
            return;
        };
        var that = this;
        setTimeout(function() {
            that.type();
        }, 50);
    };

    TxtType.prototype.wipe = function() {
        this.el.html('<span class="wrap" id="wrap"></span>');
        // if (this.txt.length) {
        //     this.txt = this.txt.substring(0, this.txt.length - 1);
        //     this.el.html('<span class="wrap blinking-cursor" id="wrap">'+this.txt+'</span>');
        // } else {
        //     this.el.html('<span class="wrap" id="wrap">'+this.txt+'</span>');
        //     return;
        // };
        // var that = this;
        // setTimeout(function() {
        //     that.wipe();
        // }, 20);        
    };
</script>