// @font-face {
//   font-family: 'Victor Mono';
//   src: url('~assets/VictorMono-ThinItalic.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Victor Mono';
//   font-weight: bold;
//   src: url('~assets/VictorMono-BoldItalic.otf') format('opentype');
// }

#app {
  background: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Oldenburg', sans-serif;
  color: var(--color);
}

a {
  font-family: 'Oldenburg', sans-serif;
  color: var(--color-primary);
}