html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	border:0;
	font:inherit;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline;
	}
	
	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
	}
	
	html, body {
		font-family: 'Roboto Slab', helvetica, arial, sans-serif;
		font-size: 16px;
		color: white;
		background: linear-gradient(0deg, {{ site.color.primary }} 0%, {{ site.color.secondary }} 100%);
	}

	body {
		background-size: cover;
		background-repeat: none;
		background-attachment: fixed;
	}

	.pg-canvas {
		position: fixed !important;
	}

	.cv-section {
		padding: 25px 25px !important;
		margin: 0px 0px 20px 0px !important;
		position: relative;
		border: 2px solid white;
		border-radius: 20px 20px 20px 20px;
		background: rgba(255, 255, 255, 0.2);
		z-index: 2000;
	}

	.cv-section h2 {
		padding-bottom: 10px;
	}

	.clear {
		clear: both;
	}

	.nav-row {
		/* max-width: 350px; */
		text-align: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		position: relative;
		margin-bottom: 50px;
	}
	
	.page-nav {
		background: rgba(255, 255, 255, 0.2);
		position: relative;
		padding: 35px 35px 15px 35px !important;
		border-radius: 20px 20px 20px 20px;
		border: 2px solid white;
	}

	.page-nav .nav-break {
		flex-basis: 100%;
		height: 0;
	}
	 
	@media(min-width:{{ site.style.flex-transition }}) {
		.page-nav .nav-break {
			flex-basis: 0%;
			height: 0;
		}
	
		.nav-row {
			justify-content: space-between;
		}
	}
	
	.nav-icon {
		text-decoration: none !important;
		font-size: 20px;
		line-height: 50px;
		height: 30px;
		width: 30px;
		margin: 10px auto;
		padding: 13px 10px 6px 10px !important;
		border: 2px solid white;
		border-radius: 20px;
		color: white;
		transition: 0.2s ease-in-out;
	}

	.nav-icon:hover {
		text-decoration: None !important;
		background: rgba(255, 255, 255, 0.2);
		transition: .2s ease-in-out;
		color: white;
		cursor: pointer;
	}

	p {
		font-size: 1em;
		line-height: 1.4em;
		margin-bottom: 20px;
		color: white;
	}
	
	#cv {
		width: 90%;
		max-width: 800px;
		/* background: #f3f3f3; */
		margin: 30px auto;
	}
	
	.mainDetails {
		position: relative;
		top: -50px;
		padding: 0px 35px 35px 35px !important;
		margin: 0px auto !important;
		border-radius: 10px 10px 20px 20px;
		color: white;
	}
	
	#name h1 {
		font-size: 2.5em;
		font-weight: 400;
		font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
		margin-bottom: 6px;
	}
	
	#name h2 {
		font-size: 2em;
		margin-left: 2px;
		font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
	}
	
	/* #mainArea {
		padding: 0 40px;
	} */
	
	#headshot {
		width: 12.5%;
		float: left;
		margin-right: 30px;
	}
	
	#headshot img {
		width: 100%;
		height: auto;
		-webkit-border-radius: 50px;
		border-radius: 20px;
	}
	
	#name {
		float: left;
	}
	
	#contactDetails {
		float: right;
	}
	
	#contactDetails ul {
		list-style-type: none;
		font-size: 0.9em;
		margin-top: 2px;
	}
	
	#contactDetails ul li {
		margin-bottom: 3px;
		color: white;
	}
	
	a, a[href^=tel] {
		color: white;
		text-decoration: underline;
		-webkit-transition: all .3s ease-in;
		-moz-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		-ms-transition: all .3s ease-in;
		transition: all .3s ease-in;
	}
	
	section {
		border-top: 2px solid {{ site.color.primary }};
		padding: 20px 0 0;
	}
	
	.sectionTitle {
		float: left;
		width: 25%;
	}
	
	.sectionTitle hr {
		display: None;
	}

	.sectionContent {
		float: right;
		width: 72.5%;
	}
	
	.sectionContent hr {
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	.sectionTitle h1 {
		font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
		font-style: italic;
		font-size: 1.5em;
		color: white;
	}
	
	.sectionContent h2 {
		font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
		font-size: 1.5em;
		margin-bottom: -2px;
	}
	
	.subDetails {
		font-size: 0.8em;
		font-style: italic;
		margin-bottom: 3px;
	}
	
	.keySkills {
		list-style-type: none;
		-moz-column-count:3;
		-webkit-column-count:3;
		column-count:3;
		margin-bottom: 20px;
		font-size: 1em;
		color: white;
	}
	
	.keySkills ul li {
		margin-bottom: 3px;
	}
	
	.ref {
		font-style: italic !important;
	}
	
	@media all and (min-width: 602px) and (max-width: 800px) {
		#headshot {
			display: none;
		}
		
		.keySkills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
		}
	}
	
	@media all and (max-width: 601px) {
		#cv {
			width: 95%;
			margin: 10px auto;
			min-width: 280px;
		}
		
		#headshot {
			display: none;
		}
		
		#name, #contactDetails {
			float: none;
			width: 100%;
			text-align: center;
		}
		
		.sectionTitle, .sectionContent {
			float: none;
			width: 100%;
		}
		
		.sectionTitle {
			margin-left: -2px;
			font-size: 1.25em;
		}

		.sectionTitle hr {
			display: inline-block;
			border: 1px solid white;
			width: 100%;
		}
		
		.keySkills {
			-moz-column-count:2;
			-webkit-column-count:2;
			column-count:2;
		}
	}
	
	@media all and (max-width: 480px) {
		.mainDetails {
			padding: 15px 15px;
		}
		
		section {
			padding: 15px 0 0;
		}
		
		#mainArea {
			padding: 0 25px;
		}
	
		
		.keySkills {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
		}
		
		#name h1 {
			line-height: .8em;
			margin-bottom: 4px;
		}
	}
	
	@media print {
		#cv {
			width: 100%;
		}
	}

	@-webkit-keyframes reset {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	
	@-webkit-keyframes fade-in {
		0% {
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	
	@-moz-keyframes reset {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	
	@-moz-keyframes fade-in {
		0% {
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	
	@keyframes reset {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}
	
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

@media(min-width:{{ site.style.flex-transition }}) {

	.fade-0 {
		-webkit-animation-name: reset, fade-in;
		-webkit-animation-duration: 0.5s;
		-webkit-animation-timing-function: ease-in;
		
		-moz-animation-name: reset, fade-in;
		-moz-animation-duration: 0.5s;
		-moz-animation-timing-function: ease-in;
		
		animation-name: reset, fade-in;
		animation-duration: 0.5s;
		animation-timing-function: ease-in;
	}
	 
	.fade-1 {
		-webkit-animation-name: reset, fade-in;
		-webkit-animation-duration: 1s;
		-webkit-animation-timing-function: ease-in;
		
		-moz-animation-name: reset, fade-in;
		-moz-animation-duration: 1s;
		-moz-animation-timing-function: ease-in;
		
		animation-name: reset, fade-in;
		animation-duration: 1s;
		animation-timing-function: ease-in;
	}
	
	.fade-2 {
		-webkit-animation-name: reset, fade-in;
		-webkit-animation-duration: 1.2s;
		-webkit-animation-timing-function: ease-in;
		
		-moz-animation-name: reset, fade-in;
		-moz-animation-duration: 1.2s;
		-moz-animation-timing-function: ease-in;
		
		animation-name: reset, fade-in;
		animation-duration: 1.2s;
		animation-timing-function: ease-in;
	}
	
	.fade-3 {
		-webkit-animation-name: reset, fade-in;
		-webkit-animation-duration: 1.4s;
		-webkit-animation-timing-function: ease-in;
		
		-moz-animation-name: reset, fade-in;
		-moz-animation-duration: 1.4s;
		-moz-animation-timing-function: ease-in;
		
		animation-name: reset, fade-in;
		animation-duration: 1.4s;
		animation-timing-function: ease-in;
	}
	 
	.fade-4 {
		-webkit-animation-name: reset, fade-in;
		-webkit-animation-duration: 1.6s;
		-webkit-animation-timing-function: ease-in;
		
		-moz-animation-name: reset, fade-in;
		-moz-animation-duration: 1.6s;
		-moz-animation-timing-function: ease-in;
		
		animation-name: reset, fade-in;
		animation-duration: 1.6s;
		animation-timing-function: ease-in;
	}
	
	.fade-5 {
		-webkit-animation-name: reset, fade-in;
		-webkit-animation-duration: 1.8s;
		-webkit-animation-timing-function: ease-in;
		
		-moz-animation-name: reset, fade-in;
		-moz-animation-duration: 1.8s;
		-moz-animation-timing-function: ease-in;
		
		animation-name: reset, fade-in;
		animation-duration: 1.8s;
		animation-timing-function: ease-in;
	}
	
	.fade-6 {
		-webkit-animation-name: reset, fade-in;
		-webkit-animation-duration: 2s;
		-webkit-animation-timing-function: ease-in;
		
		-moz-animation-name: reset, fade-in;
		-moz-animation-duration: 2s;
		-moz-animation-timing-function: ease-in;
		
		animation-name: reset, fade-in;
		animation-duration: 2s;
		animation-timing-function: ease-in;
	}
}